* {
  min-height: 0;
  min-width: 0;
}


/*=== Media Partners ===*/
.media-carousel .item {
	width: 130px !important;
}




/*=== Event List ===*/
.event p.text-large {
  padding:5px 0;
}
@media only screen and (max-width: 1024px) {
  .event p.text-large {
    font-size: 1.5rem;
  }
  .event p.text-mediumer {
    font-size: 1.4rem;
  }
}

