/*=== Home Banner ===*/
.page .banner-wrap .item .thumb {
	background: linear-gradient(rgba(20,20,20, .3), rgba(20,20,20, .3)), url(../images/header_bg3.jpg); 
	background-size: 100%; 
	background-position-y: 705px; 
}

/*=== Home Articles List ===*/
.page #main-articles-wrapper {
	background-color: #f9f9f9;
}

.page #other-articles-wrapper {
	background-color: #fff;
}

/*=== Home Highlight Post ===*/
.page #main-articles-wrapper .story .caption .desc > .text-mediumer-thumb,
.page #main-articles-wrapper .product figcaption .text-mediumer-thumb{
	line-height: 1.3;
}

.page #main-articles-wrapper .thumb-default:hover, .page #main-articles-wrapper .story:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.page #main-articles-wrapper .product .title-3-thumb {
	font-weight: bold;
}

.page #main-articles-wrapper .product figcaption .text-mediumer-thumb {
	font-size: 1.4em;
}

/*==== Homepage News & Activities ====*/
.page ul.list-primary {
	border-top: none;
}
.page ul.list-primary li a > img {
	margin-bottom: 15px;
	height: 260px;
}

.page ul.list-primary li a:hover {
	text-decoration: underline;
}