/*=== Home Banner ===*/
.page .banner-wrap .item .thumb {
	background: linear-gradient(rgba(20,20,20, .3), rgba(20,20,20, .3)), url(../images/header_bg3.jpg); 
	background-size: 100%; 
	background-position-y: 705px; 
}

/*=== Home Articles List ===*/
.page #main-articles-wrapper {
	background-color: #f9f9f9;
}

.page #other-articles-wrapper {
	background-color: #fff;
}

/*==== Homepage News & Activities ====*/
.page ul.list-primary {
	border-top: none;
}
.page ul.list-primary li a > img {
	margin-bottom: 15px;
}