/*== Post Detail ==*/
.page .content-body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.page .content-body p {
  margin-top: 20px;
  line-height: 1.5em;
}

.page .see-all {
	font-size: 1.3em;
}

/*== Post List ==*/
.page .list .content-item {
  border-bottom: none;
}
.page .list .content-item .text{
  font-size: 30px;
}
.page .list:hover img{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.page .list:hover .text{
  text-decoration: underline;
}

.page .list .img-wrapper {
  min-height: 132px;
  text-align: center;
}

.page .list .img-wrapper img {
  vertical-align: middle;
  min-height: 132px;
}

.page .list .sub-title-bg {
  font-size: 1em;
  padding: 10px;
}

.page .list .product figcaption .text-mediumer-thumb{
  line-height: 1.3;
}
.page .list .product .title-3-thumb{
  font-weight: bold;
}

.page .list .product {
  height: 420px !important;
}

.page .list .thumb-default:hover, .page .list .story:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.page .list .product figure {
  height: 270px;
}

/*== See All CTA ==*/
.page #see-all .sub-title-bg {
  padding: 10px;
  text-align: center;
}
